h1{
  font-weight: bold;
  margin-bottom: 15px;
  color: #000000;
}

input, button {
  padding: 15px 20px;
  border-radius: 5px;
  border: 2px solid silver ;
  font-weight: bold;
  font-size: 16px;
}
input{
  width: 200px;
}

button{
  background-color: #f2f2f2;
  color: #800000;
  text-align: center;
  margin: 15px 20px 0 0;
}
button:hover {
  background-color: #993333;
  color: #ffffff;
  border: 2px solid  #602020 ;
}
#textShow{
  display: none;
  width: 200px;
  background-color: #f2f2f2;
  color: #cccccc;
  border-radius: 5px;
  border: 2px solid silver ;
  font-weight: bold;
  font-size: 16px;
  text-align: center;
  padding: 20px;
  margin: 15px 10px 0 0;
}

ol {
  list-style-type: none;
  padding: 0;
  counter-reset: list;
}
ol li:before {
  content: 'Задание #' counter(list) ': ';
  counter-increment: list;
}
ol > li {
  font-weight: bold;
  font-size: 24px;
  color: #333333;
  padding: 5px;
  margin-left: 25px;
}
